<div id="<%= dom_id parking_slot %>">
  <p>
    <strong>Slotnumber:</strong>
    <%= parking_slot.slotNumber %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= parking_slot.status %>
  </p>

</div>
