<footer>
    <div>
        <div>
            <%= link_to root_path, class:"link text-xl tracking-tight font-black" do %>
                <span class="sr-only">Add your app name here</span>
                <%= image_tag("logo.png", size: '120') %>
            <% end %>
            <div>
                We are the official providers of Airport parking. You can't park closer!
            </div>
            <div>
                <div>
                    <span>Icon</span>
                    <div>
                        <span>Download on the</span>
                        <span>APPSTORE</span>
                    </div>
                </div>
                <div>
                    <span>Icon</span>
                    <div>
                        <span>Download on the</span>
                        <span>APPSTORE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>