<style>
  .hover-transform {
    transition: scale linear .2s
  }
  .hover-transform:hover {
    scale: 1.1
  }

</style>

<div class="p-4 sm:ml-64">
   <div class="p-4 dark:border-gray-700 mt-14">
      <div class="text-4xl mb-5">Dashboard</div>
      <% if current_user.role == 'admin' %>
        <%= render "home/admin_dashboard" %>
      <% else %>
        <%= render "home/user_dashboard" %>
      <% end %>
    </div>
</div>