<div class="p-4 sm:ml-64">
    <div class="p-4 dark:border-gray-700 mt-14">
        <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
            <li class="me-2">
                <a href="#" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Profile</a>
            </li>
            <li class="me-2">
                <%= link_to settings_security_path do %>
                <div class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Security</div>
                <% end %>
            </li>
        </ul>
        <div class="grid grid-cols-2">
            <div class="w-full mx-auto px-4 mt-6">
                <div class="flex items-center justify-between mb-6 flex-wrap">
                    <h1 class="font-bold text-3xl mb-6">Edit profile</h1>
                </div>
        
                <%= render 'profiles/form', profile: @profile %>
            </div>
            <div class="flex justify-center items-center">
                <% if current_user.profile.image.attached? %>
                    <%= image_tag(current_user.profile.image, class: "w-80 h-80 rounded-full object-cover") %>
                <% else %>
                    <img 
                      src="https://images.pexels.com/photos/460295/pexels-photo-460295.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
                      class="w-80 h-80 rounded-full object-cover" 
                      alt="Avatar" 
                    />
                <% end %>
            </div>
        </div>
    </div>
</div>