<div class="p-4 sm:ml-64">
  <div class="p-4 dark:border-gray-700 mt-14">
    <div class="grid grid-cols-2">
      <div class>
        <div class="mb-6">
          <h1 class="font-bold text-3xl mb-6">Edit vehicle</h1>
        </div>
      
        <%= render 'form', vehicle: @vehicle %>
      </div>
      <div class="flex flex-col justify-center items-center">
        <% if @vehicle.image.attached? %>
          <%= image_tag(@vehicle.image, class: "w-30 h-30 object-cover rounded-lg") %>
          <p class="mt-5 text-2xl font-semibold">Current image</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
